p {
    font-size: 16px;
    font-family: 'Century Gothic', Times, serif;
}

div {
    font-size: 16px;
    font-family: "Century Gothic", "Century Gothic", sans-serif !important
}

.btnItemPrice {
    font-size: 150%;
    font-family: "Century Gothic", "Century Gothic", sans-serif !important
}

.errRed {
    color: red;
}


.btnItem {
    border: 2px #E5E4E2;
    background-color: #E5E4E2;
    color: black;
    margin-top: 10;
    margin-bottom: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

/*
.btnItem:hover {
    font-family: "Century Gothic", "Century Gothic", sans-serif !important
    color: #fff;
    background-color: #A2ADD0;
    box-shadow: inset 0 0 2px 0px black;
    cursor: pointer;
    border: 2px #A2ADD0;
}
*/

.btnItem:hover {
    font-family: "Century Gothic", "Century Gothic", sans-serif !important
    color: white;
    background-color: #A2ADD0;
    box-shadow: inset 0 0 2px 0px;
    cursor: pointer;
    border: 2px #A2ADD0;
}

.btnItem:active {
  transform: translateY(2px);
}

.btnItem2 {
    font-family: "Century Gothic", "Century Gothic", sans-serif !important
    background-color: #E5E4E2;
    border: 2px #E5E4E2;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 20px 5px 0px;
    font-size: 150%;
}

.btnItem2:hover {
    color: #fff;
    background-color: #A2ADD0;
    box-shadow: inset 0 0 2px 0px black;
    cursor: pointer;
    border: 2px #A2ADD0;
}

.btnItem2:active {
    transform: translateY(2px);
}

/* contacts form */

.container {
    padding: 32px;
}

input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 100%;
}

input[type=checkbox] {
    padding: 12px 20px;
    margin: 20px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
